* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8d9;
  color: #343f56;
}

.app-wrapper {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px 0;
  font-weight: 500;
  position: relative;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin: 3px;
}

.icon:hover {
  color: #000;
  transform: scale(1.1);
}

.edit-icon {
  color: green;
}

.delete-icon {
  color: crimson;
  margin-right: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-custom {
  background-color: #eba83a;
  color: #000;
  font-weight: 500;
}

.btn-custom:hover {
  transform: scale(1.1);
}

.checked {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
